{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription dans le site !!!<h1>

    {{form_start(form)}}

    {{ form_row(form.nomUser, {'label': 'Nom d\'utilisateur','attr': 
    {'placeholder': 'nom d\'utilisateur'}}) }}
    {{ form_row(form.prenomUser, {'label': 'Prenom d\'utilisateur','attr': 
    {'placeholder': 'nom d\'utilisateur'}}) }}
    {{ form_row(form.telephoneUser, {'label': 'Telephone d\'utilisateur','attr': 
    {'placeholder': 'nom d\'utilisateur'}}) }}
    {{ form_row(form.email, {'label': 'Email d\'utilisateur','attr': 
    {'placeholder': 'nom d\'utilisateur'}}) }}
    {{ form_row(form.password, {'label': 'Password d\'utilisateur','attr': 
    {'placeholder': 'nom d\'utilisateur'}}) }}
    {{ form_row(form.confirmPassword, {'label': 'Confirme Password ','attr': 
    {'placeholder': 'comfirmer votre password'}}) }}
    <button type="submit" class="btn btn-success">Inscription !</button>
    {{form_end(form)}}

{% endblock %}